/*
 * [Modified] Modern CSS Reset
 * @link https://github.com/hankchizljaw/modern-css-reset
*/
/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

html {
    overflow-x: hidden;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    font-size: 100%;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    overflow-x: hidden;
}

/* Make images easier to work with */
img {
    display: block;
    max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* Fin du CSS Reset */
html {
    font-family: 'Roboto', sans-serif;
}

:root {
    --black: black;
    --white: white;
    --dark: #1b262c;
    --bluedark: #0f4c75;
    --bluelight: #00b7c2;
    --beige: #fdcb9e;
}

.skip-link {
    display: none;
}

body {
    background-color: var(--bluedark);
}

ul {
    list-style-type: none;
}

/*header*/
header .container {
    margin-top: 10vh;
    margin-left: 5vw;
}

header h1 {
    color: var(--beige);
    font-size: 5vw;
}

header h2 {
    color: var(--dark);
    font-size: 1vw;
    font-weight: 500;
}

header p {
    font-size: 0.8vw;
    font-weight: 200;
    color: var(--beige);
}

header p a {
    text-decoration: none;
    font-size: 0.8vw;
    padding: 0.2vw;
    color: var(--beige);
    background-color: var(--dark);
}

.container svg {
    width: 2vw;
    float: left;
}

header .link-github {
    text-decoration: none;
    font-size: 0.8vw;
    color: var(--black);
}

/*nav*/
nav {
    background-color: var(--beige);
    height: 2.5vh;
    width: 100vw;
    margin-top: 2vw;
}

nav li {
    display: inline;
    margin: 0vw 3vw 0vw 3vw;
}

nav a {
    text-decoration: none;
    padding: 0.2vh 0.7vw;
    font-size: 0.9vw;
    font-weight: 900;
    color: var(--bluelight);
    background: var(--bluedark);
}

/*main*/
#main {
    background-color: var(--bluedark);
}

.container {
    width: 100%;
    background-color: var(--bluedark);
    border-color: var(--beige);
    border-style: dotted;
    border-width: medium;
    padding: 100px;
}

#main p {
    color: var(--beige);
    margin-left: 5vw;
    width: 100vw;
}

#about .container h2 {
    background-color: var(--bluedark);
    padding-left: 5vw;
    padding-top: 5vh;
    color: var(--beige);
}

#main li {
    display: inline;
    margin: 0vw 3vw 0vw 3vw;
}